@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

div {
  transform: all 0.5s ease-in-out;
  -o-transform: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  -moz-transform: all 0.5s ease-in-out;
  -webkit-transform: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 800;
  color: #0D2436;
}

html,
body {
  background-color: #EAEAEA;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81px;
  background-color: white;
}
.header__logo {
  margin-left: 100px;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  margin-right: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.header__icon {
  display: none;
}
.header__close {
  display: none;
}

#last {
  margin-right: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  display: none;
}

.modal-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-open__h1 {
  font-size: 44px;
  line-height: 54px;
  margin: 60px auto;
}
.modal-open__button {
  cursor: pointer;
  padding: 14.5px 10px;
  width: 220px;
  height: 50px;
  background-color: #4295E4;
  color: white;
  margin: 0 auto;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  min-height: 250px;
}
.slider__h1 {
  font-size: 36px;
  line-height: 46px;
  margin: 0 auto 60px;
}
.slider__h2 {
  font-size: 44px;
  line-height: 54px;
  margin: 60px auto 0;
}
.slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__container {
  width: 100%;
  height: 100%;
}
.slider__dots {
  padding: 25px 0;
  text-align: center;
}
.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 186px;
}
.slider__nav-left {
  margin-right: 20px;
}
.slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a0a1a9;
  border-radius: 50%;
  display: inline-block;
}
.slider__nav {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: #4295E4;
  color: white;
}

.slider__dot.activ,
.slider__dot:hover {
  background-color: #0D2436;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  -webkit-box-shadow: 1px 1px 10px #777777;
          box-shadow: 1px 1px 10px #777777;
  padding: 35px;
  background-color: #fff;
}
.modal__h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
}

.modal-active {
  display: block;
}

.modal__close,
.modal__closeBtn {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  color: #777777;
  cursor: pointer;
  float: right;
}

.accordion-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.accordion-main__h1 {
  font-size: 44px;
  line-height: 54px;
  margin: 60px auto 0;
}
.accordion-main__h2 {
  font-size: 36px;
  line-height: 46px;
  margin: 0 auto 60px;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.accordion__p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: white;
}
.accordion__head {
  cursor: pointer;
  margin: 20px 0 0;
  background-color: #4295E4;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accordion__block {
  background-color: #4295E4;
  font-size: 20px;
  color: white;
  line-height: 30px;
  padding: 20px;
  display: none;
}

.accordion__head.active-acc + .accordion__block {
  display: block;
}

.accordion__head.active-style {
  background-color: #0D2436;
}

.accordion__head::after {
  content: "+";
  color: white;
  position: relative;
  top: 50%;
  right: -20px;
  font-size: 25px;
  font-weight: 700;
}

.accordion__head.active-style::after {
  content: "-";
}

.Tab-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Tab-main__h1 {
  font-size: 44px;
  line-height: 54px;
  margin: 60px auto;
}

.Tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Tabs__tab {
  cursor: pointer;
  border-bottom: 5px solid transparent;
}
.Tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 20px auto;
}
.Tabs__block {
  color: white;
  display: none;
  background-color: #4295E4;
  padding: 20px;
  width: 100%;
}

.Tabs__tab.is-active {
  border-bottom: 5px solid #0D2436;
}

.Tabs__block.is-active {
  display: block;
}

@media (max-width: 1043px) {
  .accordion-main__h1 {
    font-size: 36px;
    line-height: 46px;
    margin: 40px auto 0;
  }
  .accordion-main__h2 {
    width: 55%;
    font-size: 25px;
    line-height: 35px;
    margin: 0 auto 40px;
  }
}
@media (max-width: 880px) {
  .header__nav .menu {
    display: none;
  }
  #last {
    margin: auto;
  }
  .header__icon {
    width: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .header__close {
    width: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    display: none;
  }
  .popup {
    display: none;
    position: fixed;
    width: 40%;
    top: 0;
    height: 100%;
    left: -100%;
    z-index: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header__icon.active {
    display: none;
  }
  .header__close.actived {
    display: block;
  }
  .popup .menu > li {
    margin: auto;
  }
  .header__block {
    height: 61px;
  }
  .header__logo {
    margin-left: 100px;
    margin-top: 11px;
  }
  .header__list {
    font-weight: 800;
    font-size: 23px;
    line-height: 33px;
  }
  .modal-open__h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 40px auto;
  }
  .modal-open__button {
    padding: 14.5px 10px;
    width: 190px;
    height: 50px;
  }
  .slider {
    width: 350px;
    min-height: 200px;
  }
  .slider__h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 0 auto 40px;
  }
  .slider__h2 {
    font-size: 25px;
    line-height: 35px;
    margin: 40px auto 0;
  }
  .slider__buttons {
    margin: 0 110px;
  }
  .accordion__p {
    font-size: 20px;
    line-height: 30px;
  }
  .accordion__head {
    margin: 20px 0 0;
    padding: 20px;
  }
  .accordion__block {
    font-size: 16px;
    line-height: 26px;
    padding: 15px;
  }
  .accordion__head::after {
    font-size: 16px;
  }
  .Tab-main__h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 40px auto;
  }
}
@media (max-width: 603px) {
  .Tabs__head {
    margin: 0 50px;
  }
  .Tabs__block {
    padding: 10px;
  }
  .accordion-main__h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .accordion-main__h2 {
    width: 55%;
    font-size: 20px;
    line-height: 30px;
  }
  .header__list {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
  .accordion__head::after {
    right: -5px;
  }
}
@media (max-width: 472px) {
  .Tabs__content {
    width: 100%;
    margin: 20px auto 0;
  }
  .accordion-main__h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .accordion-main__h2 {
    width: 55%;
    font-size: 16px;
    line-height: 26px;
  }
  .header__block {
    height: 50px;
  }
  .header__logo {
    margin-left: 50px;
    margin-top: 3px;
  }
  .modal-open__h1 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px auto;
  }
  .modal-open__button {
    padding: 10px 5px;
    width: 160px;
    height: 40px;
  }
  .slider {
    width: 300px;
    min-height: 100px;
  }
  .slider__h1 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 30px;
  }
  .slider__h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px auto 0;
  }
  .slider__buttons {
    margin: 0 84px;
  }
  .accordion__p {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
  }
  .accordion__head {
    margin: 20px 0 0;
    padding: 15px;
  }
  .accordion__block {
    font-size: 13px;
    line-height: 23px;
    padding: 10px;
  }
  .Tab-main__h1 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px auto;
  }
}
@media (max-width: 380px) {
  .Tabs__head {
    margin: 0 20px;
  }
  .Tabs__block {
    padding: 10px;
  }
  .modal-open__h1 {
    font-size: 16px;
    line-height: 26px;
  }
  .Tab-main__h1 {
    font-size: 16px;
    line-height: 26px;
  }
  .modal__content {
    margin: 50px auto;
    padding: 25px;
  }
  .modal__h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .modal__p {
    font-size: 13px;
    line-height: 23px;
  }
  .accordion-main__h1 {
    font-size: 16px;
    line-height: 26px;
  }
  .accordion__head::after {
    right: -5px;
    font-size: 13px;
    font-weight: 500;
  }
  .slider {
    width: 250px;
    min-height: 50px;
  }
  .slider__h1 {
    font-size: 16px;
    line-height: 26px;
  }
  .slider__h2 {
    font-size: 16px;
    line-height: 26px;
  }
  .slider__buttons {
    margin: 0 60px;
  }
  .header__list {
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
  }
}